.card-ic
{
    color: rgb(197, 197, 73);
}
.card-bd
{
    background: #f0f2f39a !important;
    box-shadow: 13px 13px 20px #cbced1,
                -13px 9px 20px #ffffff;
    margin-top: 10px;
    border: none !important;
}

.card-bd img
{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
.card-bd .text
{
    padding: 20px;
}
.card-bd h2
{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #202C45;
    font-weight: 700;
    
}
.card-bd p
{
    font-size: 14px;
    color: #00000098;
}
.card-shortinfo
{
    font-weight: 700;
    color: #202C45;
}
.card-bd .premium-btn
{
    outline: none;
    border:none;
    cursor: pointer;
    /* height: 60px; */
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    background: #ff408cde;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
}
.pdf-btn
{
    width: fit-content;
    margin-top: 15px;
    outline: none;
    border:none;
    cursor: pointer;
    /* height: 60px; */
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    color:#fff;
    text-align: center;
    background: #31D2F2;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
    margin-left: 10px;
}

@media screen and (max-width:576px) {
    .card-bd p
        {
            font-size: 11px;
            color: #00000098;
        }
}
