
.nav
{
    background-color: #202C45;
}
.nav-title
{
    color: white !important;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.nav-logo
{
    width: 7%;
    border-radius: 50%;
    margin-right: 20px;
}

.log-btn
{
    margin: 0 5px;
}
.navbar-nav a
{
    color: white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 16px;
}
.navbar-nav a:hover
{
    color: white;
}
.acc-img
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0  5px;
}

.showName{
    display: block;
}
.hideName{
    display:none;
}
.visible{
    position: absolute;
    background: #ecf0f3;
    box-shadow: 2px 2px 8px #cbced1,
                0px 0px 8px #ffffff;
    padding:5px 20px;
    margin-top:10px;
    border-radius: 10px;
    z-index:1;
    color: #FE589A;
    font-weight: 600;
}

.sun{
    color: rgb(245, 241, 31);
    font-size: 20px;
    margin: 0 20px;
    margin-top: 5px;
}

.moon{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 20px;
    margin-top: 5px;
}

@media screen and (max-width:576px) {
    /* .navbar {
        flex-wrap: nowrap !important;
    } */

    .nav-title {
        font-size: 15px;
    }

    .nav-logo {
        width: 10%;
        margin-right: 13px;
    }
    .navbar-nav a {
        text-align: center;
        margin: 10px 0;
    }

    .nav-image
    {
        margin: 0 auto;
    }

    .nav-image img {
        margin-bottom: 20px;
    }

    .sun{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .moon{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}